@tailwind base;
@tailwind components;
@tailwind utilities;

/* https://www.algolia.com/doc/ui-libraries/autocomplete/api-reference/autocomplete-theme-classic/#css-variables */

/* Algolia AutoComplete Search */
:root {
  --aa-icon-size: 20px !important;
  --aa-detached-modal-max-width: 1400px !important;
  --aa-detached-modal-max-height: 1000px !important;
  --aa-spacing-factor: 1.6 !important;
  --aa-font-size: 1.2rem !important;
  --aa-selected-color-alpha: 0.7 !important;
  --aa-selected-color-rgb: 60, 179, 113 !important;
  --aa-text-color-rgb: 0, 0, 0 !important;
}

[id^="autocomplete-4-item-"] {
  @apply my-5  !important;
}

.aa-Item {
  @apply rounded-xl border-2 border-slate-800 !important;
}

.aa-ClearIcon {
  @apply -mr-3 !important;
}

.aa-SubmitIcon {
  @apply hidden;
}
.aa-SubmitButton {
  @apply hidden;
}

.aa-InputWrapper input {
  padding: 0 10px 0 10px;
}

.aa-DetachedSearchButtonIcon {
  @apply hidden !important;
}

.aa-DetachedSearchButton {
  @apply border-0 bg-gray-100 px-0 text-lg text-gray-800 dark:border-gray-900 dark:bg-slate-900 dark:text-gray-100 !important;
}

/* SIDEBAR OF LIST PAGES AND BLOG PAGES */
#layoutWrapper #sidebarTopSection .aa-DetachedSearchButtonPlaceholder {
  @apply text-2xl text-gray-900 hover:underline dark:text-gray-100;
}
#blogPostWrapper #sidebarTopSection .aa-DetachedSearchButtonPlaceholder {
  @apply -ml-1 text-center text-lg text-gray-900 hover:underline dark:text-gray-100;
}
#sidebarTopSection .aa-DetachedSearchButtonIcon {
  @apply invisible -ml-2 dark:ml-0;
}

/* MOBILE NAV */

#mobileNavLinks .aa-DetachedSearchButton {
  @apply mx-12 bg-gray-200 dark:bg-slate-900 !important;
}
#mobileNavLinks .aa-DetachedSearchButtonPlaceholder {
  @apply text-2xl;
  @apply ml-10 pl-12 font-bold tracking-widest text-gray-900 dark:text-gray-100;
}
#mobileNavLinks .aa-DetachedSearchButtonIcon {
  @apply hidden;
}
#mobileNavLinks #componentWrapperDiv {
  @apply block;
}

/* LANDING PAGE SEARCH TEXT */
/* the icon disapears in dark mode */
#landingListColumn .aa-AutoComplete {
  @apply text-xl hover:underline dark:text-gray-100 lg:text-3xl;
}
#landingListColumn .aa-DetachedSearchButton {
  @apply mx-auto w-32 dark:w-24 2xl:mt-10;
}
#landingListColumn .aa-DetachedSearchButtonPlaceholder {
  @apply mx-auto text-center text-xl text-gray-900 hover:underline dark:text-gray-100  lg:text-3xl;
}
